.gallery-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-img img:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    
}

.navbar {
  z-index: 1050; /* higher than Bootstrap modals */
}

#job-opportunities-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

:root {
    font-family:fantasy;
    font-size: 18px;
}


.box {
      width: 300px;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
    .total {
      font-weight: bold;
      margin-top: 10px;
      font-size: 18px;
    }

